.purple-color{
          color: #8845f4;
}
.container{
    margin-top:10% ;
    padding-left:5% ;
    display:inline-block;
}
.experience-item{
      padding:10px;
      border-left:1px solid rgba(137,130,247,.2);
}
.experiences{
        padding:30px ;
        margin:30px ;
        background-color:rgb(238, 251,255);
        border-radius:20px;
}
h1{
  font-size:1.5em;
}
h2{
  color:#8845f4;
}
 body{
    font-family:sans-serif;
    color:#777777;
    line-height:26px ;
}
.side-things{
      float:right ;
}
  .right-side{
        float:left;
  }  
  .half-width{
   float:left;
   width:50%;
  }
  .side-img{
       width:50%;
       padding-left:25%;
  }
  .primary-btn{
     color:white;
     background-color:#8845f4 ;
     padding:13px 42px 13px 42px ;
     border-radius:20px;
     text-decoration:none ;
  }
  